src/*.exe
src/qcoin
src/qcoind
src/test_qcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.qcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
qcoin-qt
Qcoin-Qt.app

# Unit-tests
Makefile.test
qcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
